einops==0.7.0
gensim==4.3.0
h5py==3.7.0
ipython==8.22.0
lightning_bolts==0.6.0.post1
matplotlib==3.6.2
numpy==1.25.2
omegaconf==2.3.0
pandas==1.5.2
Pillow==10.2.0
pytest==7.2.1
pytorch_lightning==1.8.6
scikit_learn==1.4.1.post1
timm==0.6.12
tokenizers==0.13.2
torch==1.13.1
torchmetrics==0.11.0
torchtext==0.14.1
torchvision==0.14.1
tqdm==4.64.1
wandb==0.13.7
